{
    "arrowParens": "avoid",
    "printWidth": 120,
    "bracketSpacing": true,
    "singleQuote": true,
    "semi": false,
    "tabWidth": 2,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSameLine": true
}